{{ define "page/Index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "tmpl/head" }}
    <title>{{ .PageTitle }}</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-center items-center mt-10 gap-1 mb-10">
            <h1 class="decoration-emerald-400 underline">boonsboos</h1>
        </div>
        <div class="flex justify-center items-center h-fit">
            <div class="md:grid md:grid-cols-2 md:gap-10 ms-4 sm:flex max-sm:flex-col h-fit">
                <div class="flex flex-col justify-self-center align-top md:mt-[25%] md:ml-[10%] gap-2">
                    <h2>Software developer from the Netherlands</h2>
                    <p>Open source enthousiast with a passion for backend systems</p>
                    <p></p>
                    <ul>
                        <li><p class="underline"><a href="https://www.linkedin.com/in/jonas-dingemans-405410299">LinkedIn</a></p></li>
                        <li><p class="underline"><a href="/blog">Blog</a></p></li>
                        <li><p class="underline"><a href="https://github.com/boonsboos">GitHub</a></p></li>
                    </ul>
                    <p></p>
                </div>
                <div class="max-md:h-1/6 justify-self-end z-50 h-[125%] sm:mt-0 mt-[-10%] mb-[-10%]">
                    <img class="rounded-tl-full rounded-bl-full h-[75%] z-50" src="static/boons.webp" 
                    alt="man with long black hair resting on his hand on top of a mountain, staring off into the distance">
                </div>
            </div>
        </div>
        <div class="flex flex-col dark:bg-emerald-50 bg-neutral-800 pl-4 pt-10 pb-10 md:mt-[-20%] sm:mt-">
            <div class="container flex flex-col gap-4 w-fit text-left p-6">
                <h2 class="dark:text-black text-emerald-50 decoration-emerald-400 underline"><b>Skills</b></h2>
                <ul class="list-disc">
                    <li>
                        <p class="dark:text-black text-emerald-50">Java (4+ years)</p>
                    </li>
                    <li>
                        <p class="dark:text-black text-emerald-50">SQL RDBMS such as SQL Server, MySQL, PostgreSQL (5+ years)</p>
                    </li>
                    <li>
                        <p class="dark:text-black text-emerald-50">Golang (3+ years)</p>
                    </li>
                    <li>
                        <p class="dark:text-black text-emerald-50">C# (2+ years)</p>
                    </li>
                    <li>
                        <p class="dark:text-black text-emerald-50">Managing Linux systems running Debian, Ubuntu and Arch (4+ years)</p>
                    </li>
                </ul>

                <h2 class="dark:text-black text-emerald-50 decoration-emerald-400 underline"><b>Frameworks and Tools</b></h2>
                <p class="dark:text-black text-emerald-50">While I don't prefer frontend, I have interacted with these frontend frameworks in projects/production software in the past</p>
                <p class="dark:text-black text-emerald-50 decoration-emerald-800 underline">JavaFX, Laravel, Svelte &amp; Vue</p>
                <p class="dark:text-black text-emerald-50">For backend, I have used the following software to build and host various servers and websites</p>
                <p class="dark:text-black text-emerald-50 decoration-emerald-800 underline">Gin, gorilla/websocket, Caddy &amp; Docker</p>
            </div>
            
        </div>
        <div class="flex flex-col justify-center items-center p-10">
            <h2 class="decoration-emerald-400 underline text-left">Passion projects</h2>
            <div class="grid md:grid-cols-3 sm:grid-rows-3 gap-4">
                <div class="md:col-auto sm:row-auto">
                    <h2>arwacos</h2>
                    <p>RISC-V emulator in C#, for which I want to write some programs in RISC-V assembly</p>
                </div>
                <div class="md:col-auto">
                    <h2>grotto</h2>
                    <p>Work-in-progress internet Go (board game) server in Go (programming language) using WebSockets</p>
                </div>
                <div class="md:col-auto">
                    <h2 class="decoration-emerald-200 underline">This here website!</h2>
                    <p>
                        Yes, I've handwritten this website.
                        You can learn more about it and how it works by reading the <a class="underline" href="https://github.com/boonsboos/boonsboos.nl">source</a>.
                        Or you can read the blog article.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{{ template "tmpl/footer" }}
</html>
{{ end }}