{{ define "page/Index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "tmpl/head" }}
    <title>{{ .PageTitle }}</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-center items-center mt-10 gap-1 mb-10">
            <h1 class="decoration-emerald-400 underline">boonsboos</h1>
        </div>
        <div class="flex justify-center items-center h-fit">
                <div class="flex flex-col justify-self-center align-top gap-2">
                    <h2>Software developer from the Netherlands</h2>
                    <p>Open source enthousiast with a passion for backend systems</p>
                    <p></p>
                    <ul>
                        <li><p class="underline"><a href="https://www.linkedin.com/in/jonas-dingemans-405410299">LinkedIn</a></p></li>
                        <li><p class="underline"><a href="/blog">Blog</a></p></li>
                        <li><p class="underline"><a href="https://github.com/boonsboos">GitHub</a></p></li>
                    </ul>
                    <p></p>
                </div>
        </div>
    </div>
</body>
{{ template "tmpl/footer" }}
</html>
{{ end }}