{{ define "page/Post" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .PageTitle }}</title>
    {{ template "tmpl/head" }}
</head>
<body>
    <div class="flex justify-center items-center mt-10 mb-10">
        <a href="/blog">
            <h1 class="decoration-emerald-400 underline">boonsboos</h1>
        </a>
    </div>
    <div id="posts" class="flex flex-col justify-center items-center gap-2">
        <h2 class="underline text-left">{{ .Post.Info.Title }}</h2>
        <p>{{ .Post.Info.Date }}</p>
        <div class="flex flex-col gap-4 md:max-w-[42rem] md:min-w-[42rem] sm:max-w-screen-sm sm:min-w-72 break-words p-2">
            {{ .Post.Content }}
        </div>
    </div>
</body>
<footer class="flex justify-center mt-1">
    <p class="text-black dark:text-emerald-50">&copy; 2024 boonsboos </p>
</footer>
</html>
{{ end }}